---
config:
  create: true
  dotpath: dotfiles
  link_dotfile_default: absolute
  import_actions:
    - actions.d/nano.yaml
    - actions.d/nvim.yaml
dotfiles:
  f_cava:
    src: config/cava/kasumi-cava.conf
    dst: ~/.config/cava/kasumi-cava.conf
    link: absolute
  f_kitty:
    src: config/kitty/kitty.conf
    dst: ~/.config/kitty/kitty.conf
    link: absolute
  f_kitty_theme:
    src: config/kitty/kasumi-kitty.conf
    dst: ~/.config/kitty/kasumi-kitty.conf
    link: absolute
  f_redshift:
    src: config/redshift/redshift.conf
    dst: ~/.config/redshift/redshift.conf
    link: absolute
  f_tmux:
    src: config/tmux/kasumi-tmux.conf
    dst: ~/.config/tmux/kasumi-tmux.conf
    link: absolute
  f_zsh:
    src: zshrc
    dst: ~/.zshrc
    link: absolute
  f_starttree:
    src: config/StartTree/config.yaml
    dst: ~/.config/StartTree/config.yaml
    link: absolute
  f_zsh_alias:
    src: config/zsh/kasumi-zsh_alias.zsh
    dst: ~/.config/zsh/kasumi-zsh_alias.zsh
    link: absolute
  d_zsh_functions:
    src: config/zsh/funcs
    dst: ~/.config/zsh/funcs
    link: absolute
  d_neovim:
    src: config/nvim
    dst: ~/.config/nvim
    link: absolute
    actions:
      - nvim-plug-install
      - nvim-update
  d_git:
    src: config/git
    dst: ~/.config/git
    link: absolute
  f_gitconfig:
    src: gitconfig
    dst: ~/.gitconfig
    link: absolute
  f_lazygit:
    src: config/lazygit/config.yml
    dst: ~/.config/lazygit/config.yml
    link: absolute
  d_sway:
    src: config/sway
    dst: ~/.config/sway
    link: absolute
  d_swaylock:
    src: config/swaylock
    dst: ~/.config/swaylock
    link: absolute
  d_wofi:
    src: config/wofi
    dst: ~/.config/wofi
    link: absolute
  f_rc.conf:
    src: config/ranger/rc.conf
    dst: ~/.config/ranger/rc.conf
    link: absolute
  d_waybar:
    src: config/waybar
    dst: ~/.config/waybar
    link: absolute
  d_zathura:
    src: config/zathura
    dst: ~/.config/zathura
    link: absolute
  f_nanorc:
    src: nanorc
    dst: ~/.nanorc
    link: absolute
    actions:
      - dir-nano-backup
  d_gotop:
    src: config/gotop
    dst: ~/.config/gotop
    link: absolute
  d_vivid:
    src: config/vivid
    dst: ~/.config/vivid
    link: absolute
  d_wallpapers:
    src: wallpapers
    dst: ~/.local/share/kasumi/wallpapers
    link: absolute
  d_rofi:
    src: config/rofi
    dst: ~/.config/rofi
    link: absolute
  f_zprofile:
    src: zprofile
    dst: ~/.zprofile
    link: absolute
  f_zshenv:
    src: zshenv
    dst: ~/.zshenv
    link: absolute
  f_ssh:
    src: ssh/config
    dst: ~/.ssh/config
    link: absolute
    chmod: '600'
  d_mako:
    src: config/mako
    dst: ~/.config/mako
    link: absolute
  d_aria2:
    src: config/aria2
    dst: ~/.config/aria2
    link: absolute
    chmod: '700'
profiles:
  kasumi:
    dotfiles:
      - d_git
      - d_gotop
      - d_mako
      - d_rofi
      - d_vivid
      - d_wallpapers
      - d_zathura
      - f_cava
      - f_gitconfig
      - f_kitty
      - f_kitty_theme
      - f_lazygit
      - f_nanorc
      - f_rc.conf
      - f_redshift
      - f_tmux
      - f_zprofile
      - f_zsh
  kasumi_extras:
    dotfiles:
      - d_aria2
      - d_neovim
      - d_zsh_functions
      - f_ssh
      - f_starttree
      - f_zsh_alias
      - f_zshenv
  kasumi_wayland:
    dotfiles:
      - d_sway
      - d_swaylock
      - d_waybar
      - d_wofi
