#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    // -- Global appearance ------------------------------------------------
    background_color:             "#2E383D",
    text_color:                   "#C0CDD3",
    borders_style:                (fg: "#667688"),
    highlight_border_style:       (fg: "#A7D6FA"),
    modal_background_color:       None,
    modal_backdrop:               false,

    // -- Item styles -------------------------------------------------------
    current_item_style:           (fg: "#2E383D", bg: "#A7D6FA", modifiers: "Bold"),
    highlighted_item_style:       (fg: "#FF9DCD"),
    preview_label_style:          (fg: "#667688"),
    preview_metadata_group_style: (fg: "#a16f8c", modifiers: "Bold"),

    // -- Misc config -------------------------------------------------------
    default_album_art_path:       None,
    format_tag_separator:         " | ",
    browser_column_widths:        [20, 38, 42],
    header_background_color:      None,

    // -- Widgets -----------------------------------------------------------
    symbols: (
        song:                       "󰽴",
        dir:                        "󰉖 ",
        playlist:                   "󰲹 ",
        marker:                     "🮌",
        ellipsis:                   "...",
        dir_current_style:          None,
        dir_highlighted_style:      None,
        dir_style:                  (fg: "#8598B2"),
        marker_current_style:       None,
        marker_highlighted_style:   None,
        marker_style:               None,
        playlist_current_style:     None,
        playlist_highlighted_style: None,
        playlist_style:             (fg: "#8598B2"),
        song_current_style:         None,
        song_highlighted_style:     None,
        song_style:                 (fg: "#8598B2"),
    ),
    level_styles: (
        info:  (fg: "#9EB7C6", bg: "#2E383D"),
        warn:  (fg: "#F8E084", bg: "#2E383D"),
        error: (fg: "#F86E88", bg: "#2E383D"),
        debug: (fg: "#80C8A1", bg: "#2E383D"),
        trace: (fg: "#FFCF94", bg: "#2E383D"),
    ),
    progress_bar: (
        symbols: ["█", "█", "🮍", "▒", "▒"],
        track_style:   (fg: "#3f4e57"),
        elapsed_style: (fg: "#A7D6FA"),
        thumb_style:   (fg: "#A7D6FA", bg: "#3f4e57"),
    ),
    scrollbar: (
        symbols: ["┊", "█", "┯", "┷"],
        track_style: (fg: "#A7D6FA"),
        ends_style:  (fg: "#A7D6FA"),
        thumb_style: (fg: "#667688"),
    ),
    tab_bar: (
        active_style:   (fg: "#2E383D", bg: "#A7D6FA", modifiers: "Bold"),
        inactive_style: (),
    ),
    lyrics: (
        timestamp: false
    ),

    // -- Song list & browser formats --------------------------------------
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Artist)),
                (kind: Text(" - ")),
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
    song_table_format: [
        (
            prop: (kind: Property(Artist), style: (fg: "#C0CDD3"),
                default: (kind: Text("Unknown"), style: (fg: "#C0CDD3"))
            ),
            width: "20%",
            label: "Artist",
        ),
        (
            prop: (kind: Property(Title), style: (fg: "#a16f8c"),
                default: (kind: Text("Unknown"), style: (fg: "#a16f8c"))
            ),
            width: "35%",
            label: "Title",
        ),
        (
            prop: (kind: Property(Album), style: (fg: "#8598B2"),
                default: (kind: Text("Unknown Album"), style: (fg: "#8598B2"))
            ),
            width: "30%",
            label: "Album",
        ),
        (
            prop: (kind: Property(Duration), style: (fg: "#667688"),
                default: (kind: Text("-"), style: (fg: "#667688"))
            ),
            width: "15%",
            alignment: Right,
            label: "Duration",
        ),
    ],

    // -- Cava visualiser ---------------------------------------------------
    cava: (
        bar_symbols: ['▁', '▂', '▃', '▄', '▅', '▆', '▇', '█'],
        inverted_bar_symbols: ['▔', '🮂', '🮃', '▀', '🮄', '🮅', '🮆', '█'],
        bar_width: 2,
        bar_spacing: 1,
        // Possible values are "Top", "Bottom" and "Horizontal".
        orientation: Bottom,
        bar_color: Gradient({
              0: "#414E55",
             50: "#8598B2",
            100: "#A7D6FA",
        })
    ),

    // -- Header rows & layout ---------------------------------------------
    header: (
        rows: [
            (
                left: [
                    (kind: Property(Song(SampleRate())), style: (fg: "#667688"),
                        default: (kind: Text("---"), style: (fg: "#667688"))),
                    (kind: Text(" Hz   "), style: (fg: "#667688")),
                    (kind: Property(Status(Bitrate)), style: (fg: "#667688"),
                        default: (kind: Text("---"), style: (fg: "#667688"))),
                    (kind: Text(" kbps"), style: (fg: "#667688")),
                ],
                center: [
                    (kind: Property(Song(Title)), style: (fg: "#FF9DCD", modifiers: "Bold"),
                        default: (kind: Text("No Song"), style: (fg: "#FF9DCD", modifiers: "Bold"))),
                ],
                right: [
                    (kind: Property(Widget(ScanStatus)), style: (fg: "#80C8A1")),
                    (kind: Property(Widget(Volume)), style: (fg: "#80C8A1")),
                ],
            ),
            (
                left: [
                    (kind: Text("[ "), style: (fg: "#667688", modifiers: "Bold")),
                    (kind: Property(Status(StateV2(playing_label: "Playing", paused_label: "󰽳  Paused", stopped_label: "󰽳  Stopped"))), style: (fg: "#A7D6FA", modifiers: "Bold")),
                    (kind: Text(" ]"), style: (fg: "#667688", modifiers: "Bold")),
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "#C0CDD3", modifiers: "Bold"),
                        default: (kind: Text("Unknown"), style: (fg: "#C0CDD3", modifiers: "Bold"))),
                    (kind: Text(" - "), style: (fg: "#667688")),
                    (kind: Property(Song(Album)), style: (fg: "#8598B2"),
                        default: (kind: Text("Unknown Album"), style: (fg: "#8598B2"))),
                ],
                right: [
                    (kind: Property(Widget(States(
                        active_style: (fg: "#FFCF94", modifiers: "Bold"),
                        separator_style: (fg: "#667688"),
                    ))), style: (fg: "#625c52")),
                ],
            ),
        ],
    ),
    layout: Split(
        direction: Vertical,
        panes: [
            (
                size: "4",
                borders: "ALL",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (size: "2", pane: Pane(Empty())),
                        (size: "100%", pane: Pane(Header)),
                        (size: "2", pane: Pane(Empty())),
                    ],
                ),
            ),
            (
                size: "3",
                pane: Pane(Tabs),
            ),
            (
                size: "100%",
                borders: "ALL",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (size: "1", pane: Pane(Empty())),
                        (size: "100%", pane: Pane(TabContent)),
                        (size: "1", pane: Pane(Empty())),
                    ],
                ),
            ),
            (
                size: "1",
                borders: "NONE",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (size: "1", pane: Pane(Empty())),
                        (
                            size: "30",
                            pane: Pane(Property(
                                content: [
                                    (kind: Property(Status(QueueLength())), style: (fg: "#C0CDD3"),
                                        default: (kind: Text("0"), style: (fg: "#667688"))),
                                    (kind: Text(" songs"), style: (fg: "#667688")),
                                    (kind: Text("    "), style: (fg: "#667688")),
                                    (kind: Property(Status(QueueTimeTotal())), style: (fg: "#C0CDD3"),
                                        default: (kind: Text("0:00"), style: (fg: "#667688"))),
                                ],
                                align: Left,
                            )),
                        ),
                        (size: "100%", pane: Pane(Empty())),
                        (
                            size: "26",
                            pane: Pane(Property(
                                content: [
                                    (kind: Transform(Truncate(
                                        content: (kind: Property(Song(Other("date")))),
                                        length: 4,
                                        from_start: false,
                                    )), style: (fg: "#667688"),
                                        default: (kind: Text("----"), style: (fg: "#667688"))),
                                    (kind: Text(" · "), style: (fg: "#667688")),
                                    (kind: Property(Song(Bits())), style: (fg: "#667688"),
                                        default: (kind: Text("-"), style: (fg: "#667688"))),
                                    (kind: Text("bit · "), style: (fg: "#667688")),
                                    (kind: Property(Song(Channels())), style: (fg: "#667688"),
                                        default: (kind: Text("-"), style: (fg: "#667688"))),
                                    (kind: Text("ch · "), style: (fg: "#667688")),
                                    (kind: Property(Song(FileExtension)), style: (fg: "#667688"),
                                        default: (kind: Text("-"), style: (fg: "#667688"))),
                                ],
                                align: Right,
                            )),
                        ),
                        (size: "1", pane: Pane(Empty())),
                    ],
                ),
            ),
            (
                size: "20%",
                borders: "ALL",
                pane: Pane(Cava),
            ),
            (
                size: "3",
                borders: "ALL",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (size: "2", pane: Pane(Empty())),
                        (size: "100%", pane: Pane(ProgressBar)),
                        (size: "1", pane: Pane(Empty())),
                        (
                            size: "14",
                            pane: Pane(Property(
                                content: [
                                    (kind: Property(Status(Elapsed)), style: (fg: "#667688")),
                                    (kind: Text(" / "), style: (fg: "#667688")),
                                    (kind: Property(Status(Duration)), style: (fg: "#667688")),
                                ],
                                align: Right,
                            )),
                        ),
                        (size: "2", pane: Pane(Empty())),
                    ],
                ),
            ),
        ],
    ),
)
