@import "color.css";

/*
 * ╒═══════════════════════════════════════════════════════════╕
 * │                        ESTILO BASE                        │
 * ╘═══════════════════════════════════════════════════════════╛
*/

* {
  color: @lavender;
  border: 0;
  padding: 0;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 14px;
  transition: all 0.5s ease;
}

window#waybar {
  border-bottom: 4px solid shade(@base, 1.1);
  background-color: shade(#1e1e2e, 0.95);
}

#mode {
  color: @mauve;
  border-radius: 10px;
  margin-right: 5px;
}

#workspaces * {
  color: whitesmoke;
}

#workspaces {
  border-style: solid;
  background-color: @base;
  opacity: 1;
  border-radius: 10px;
  margin: 8px 0px 8px 10px;
}

#workspaces button {
  color: @base;
  border-radius: 50%;
  margin-left: 1px;
  margin-right: 1px;
  padding: 2 6 2 0;
}

#workspaces button.focused * {
  color: @mauve;
}

#workspaces button.focused {
  color: @mauve;
  border-radius: 20px;
}

#workspaces button:hover * {
  color: @mauve;
}

#workspaces button:hover {
  color: @mauve;
  box-shadow: none;
  text-shadow: none;
  border: 0;
  background: none;
}

/* -----------------------------------------------------------------------------
 * Estilo base de todos los módulos de Waybar
 *
 * Este bloque define propiedades comunes (padding, borde, fondo, opacidad, margen)
 * para mantener consistencia visual. Los módulos individuales pueden sobrescribir
 * estas propiedades más abajo para ajustes específicos de color, bordes o espaciado.
 * =========================================================================== */
#backlight,
#battery,
#clock,
#cpu,
#custom-background,
#custom-clipboard,
#custom-swap,
#idle_inhibitor,
#keyboard-state,
#memory,
#mpd #network,
#temperature,
#tray,
#wireplumber {
  padding: 5px 8px;
  border-style: solid;
  background-color: shade(@base, 1.1);
  opacity: 1;
  margin: 8px 0;
}

/*
 * ╒═══════════════════════════════════════════════════════════╕
 * │                      ESTILOS MÓDULOS                      │
 * ╘═══════════════════════════════════════════════════════════╛
*/

@keyframes blink {
  to {
    color: @red;
  }
}

#backlight {
  color: @yellow;
  border-radius: 10px 0 0 10px;
}

#battery {
  color: #d8dee9;
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
}

#battery.charging {
  color: #81a1c1;
}

#battery.critical:not(.charging) {
  color: #bf616a;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  color: @sky;
  border-radius: 10px;
  margin: 8px 10px;
}

#cpu,
#cpu #cpu-icon {
  color: @sky;
}

#custom-background {
  border-radius: 0px 10px 10px 0px;
  background-color: @base;
  color: white;
  padding: 5px 14px 5px 5px;
}

#custom-launcher {
  font-size: 20px;
  background-color: shade(@base, 1.1);
  color: @mauve;
  border-radius: 0px 15px 0px 0px;
  padding: 5px 10px 5px 10px;
}

#custom-power {
  font-size: 20px;
  color: @red;
  background-color: shade(@base, 1.1);
  border-radius: 15px 0px 0px 0px;
  padding: 10px 5px 10px 5px;
}

#custom-swap {
  border-radius: 10px;
  color: @mauve;
  margin-left: 10px;
  background-color: @base;
}

#idle_inhibitor {
  background-color: #ebcb8b;
  color: @base;
}

#keyboard-state {
  border-radius: 10px;
  margin-right: 10px;
}

#keyboard-state label {
  color: @overlay1;
  margin-right: 4px;
}

#keyboard-state label.capslock.locked {
  color: @yellow; /* cyan para Caps Lock */
}

#keyboard-state label.numlock.locked {
  color: @yellow; /* amarillo para Num Lock */
}

#memory {
  color: @sky;
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
}

#mpd {
  border-radius: 10px;
  color: @mauve;
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0);
}

#mpd.2,
#mpd.3,
#mpd.4 {
  background-color: @base;
  font-size: 14px;
}

#network {
  color: @green;
  border-radius: 10px;
  margin-right: 10px;
}

#network.disabled,
#network.disconnected {
  color: #bf616a;
}

#temperature {
  color: @teal;
  border-radius: 10px 0 0 10px;
}

#temperature.critical {
  color: @red;
}

#tray {
  margin: 8px 10px;
  border-radius: 10px;
}

#window {
  border-style: hidden;
  margin: 0 10px;
  color: #eceff4;
}

#wireplumber {
  color: @flamingo;
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
}

#wireplumber.muted {
  color: #3b4252;
}
