/*
 * vim: filetype=scss
 * ╒═════════════════════════════════════════════════════════╕
 * │                   CONFIGURACIÓN BASE                    │
 * ╘═════════════════════════════════════════════════════════╛
*/

@import "color.css";

tooltip {
  background: @base;
  border: 1px solid @overlay0;
  border-color: @overlay0;
  border-radius: 4px;
}
tooltip label {
  color: @text;
  padding: 4px 8px;
}

#waybar * {
  color: @lavender;
  padding: 0;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 14px;
  transition: all 0.2s ease;
}

window#waybar {
  border-bottom: 4px solid shade(@base, 1.1);
  background-color: shade(#1e1e2e, 0.95);
}

#mode {
  color: @mauve;
  border: 1px solid shade(@base, 1.4);
  border-radius: 4px;
  padding: 5px 8px;
}

#custom-workspaces {
  color: @overlay1;
  border: 1px solid shade(@base, 1.4);
  background-color: shade(@base, 1.1);
  opacity: 1;
  border-radius: 4px;
  margin: 8px 0;
  padding: 0 8px;
}

#custom-workspaces.urgent {
  border-color: @red;
}

/*
 * ╒═════════════════════════════════════════════════════════╕
 * │                 ESTILOS DE MÓDULOS BASE                 │
 * ╘═════════════════════════════════════════════════════════╛
 */
#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#custom-clipboard,
#idle_inhibitor,
#keyboard-state,
#memory,
#mpd,
#mpris,
#network,
#privacy,
#temperature,
#tray,
#wireplumber {
  padding: 5px 8px;
  border: 1px solid shade(@base, 1.4);
  border-radius: 4px;
  background-color: shade(@base, 1.1);
  opacity: 1;
  margin: 8px 0;
}

/*
 * ╒═════════════════════════════════════════════════════════╕
 * │                GRUPO DE MEDIOS (DRAWER)                 │
 * ╘═════════════════════════════════════════════════════════╛
 */
#group-media {
  padding: 0;
  margin: 0;
}

#group-media .media-hidden {
  opacity: 0;
  margin: 0;
  padding: 0;
  transition: opacity 0.3s ease;
}

#group-media:hover .media-hidden {
  opacity: 1;
}

/*
 * ╒═════════════════════════════════════════════════════════╕
 * │                 GRUPO DE AUDIO (DRAWER)                 │
 * ╘═════════════════════════════════════════════════════════╛
 */
#group-audio {
  padding: 0;
  margin: 0;
}

#group-audio .audio-hidden {
  opacity: 0;
  margin: 0;
  padding: 0;
  transition: opacity 0.3s ease;
}

#group-audio:hover .audio-hidden {
  opacity: 1;
}

/*
 * ╒═════════════════════════════════════════════════════════╕
 * │               GRUPO DE HARDWARE (DRAWER)                │
 * ╘═════════════════════════════════════════════════════════╛
 */
#group-hardware {
  padding: 0;
  margin: 0;
}

#group-hardware .hardware-hidden {
  opacity: 0;
  margin: 0;
  padding: 0;
  transition: opacity 0.3s ease;
}

#group-hardware:hover .hardware-hidden {
  opacity: 1;
}

/*
 * ╒═════════════════════════════════════════════════════════╕
 * │             ESTILOS DE MÓDULOS INDIVIDUALES             │
 * ╘═════════════════════════════════════════════════════════╛
 */

@keyframes blink {
  to {
    color: @red;
  }
}

#backlight {
  color: @yellow;
}

#battery {
  color: #d8dee9;
}

#battery.charging {
  color: #81a1c1;
}

#battery.critical:not(.charging) {
  color: #bf616a;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  color: @sky;
}

#cpu {
  color: @sky;
}

#cpu.warning {
  color: @yellow;
}

#cpu.critical {
  color: @red;
}

#disk {
  color: @green;
  border: 1px solid shade(@base, 1.4);
  border-radius: 4px;
  background-color: shade(@base, 1.1);
  margin: 8px 0;
  padding: 5px 10px;
}

#disk.warning {
  color: @yellow;
  border: 1px solid @yellow;
}

#disk.critical {
  color: @red;
  border: 1px solid @red;
}

#custom-launcher {
  font-size: 20px;
  background-color: shade(@base, 1.1);
  color: @mauve;
  border: 1px solid shade(@base, 1.4);
  border-radius: 4px;
  padding: 5px 8px;
  margin: 8px 0;
}

#custom-power {
  font-size: 20px;
  color: @red;
  background-color: shade(@base, 1.1);
  border: 1px solid shade(@base, 1.4);
  border-radius: 4px;
  padding: 5px 8px;
  margin: 8px 0;
}

#idle_inhibitor.deactivated {
  color: @overlay1;
}

#idle_inhibitor.activated {
  color: @yellow;
}

#custom-pacman.has-updates {
  color: @yellow;
  border: 1px solid shade(@base, 1.4);
  border-radius: 4px;
  margin: 8px 0;
  padding: 5px 8px;
  background-color: shade(@base, 1.1);
}

#custom-pacman.uptodate {
  border: 1px solid shade(@base, 1.4);
  border-radius: 4px;
  margin: 8px 0;
  padding: 5px 8px;
  background-color: shade(@base, 1.1);
}

#keyboard-state label {
  color: @overlay1;
  margin-right: 4px;
}

#keyboard-state label.capslock.locked {
  color: @yellow; /* amarillo para Caps Lock */
}

#keyboard-state label.numlock.locked {
  color: @yellow; /* amarillo para Num Lock */
}

#memory {
  color: @sky;
  padding: 5px 10px;
}

#memory.warning {
  color: @yellow;
}

#memory.critical {
  color: @red;
}

#mpd {
  color: @mauve;
  padding: 5px 10px;
}

#mpd.2,
#mpd.3,
#mpd.4 {
  background-color: @base;
  font-size: 14px;
}

#mpris {
  color: @mauve;
  padding: 5px 10px;
}

#mpris.playing {
  color: @green;
}

#mpris.paused {
  color: @overlay1;
  font-style: italic;
}

#network {
  color: @green;
}

#network.disabled,
#network.disconnected {
  color: #bf616a;
}

#temperature {
  color: @teal;
}

#temperature.warning {
  color: @yellow;
}

#temperature.critical {
  color: @red;
}

#scratchpad {
  color: @mauve;
  border: 1px solid shade(@base, 1.4);
  border-radius: 4px;
  background-color: shade(@base, 1.1);
  padding: 5px 8px;
  margin: 8px 0;
}

#scratchpad.empty {
  color: @overlay1;
}

#wireplumber {
  color: @flamingo;
  padding: 5px 10px;
}

#wireplumber#mic {
  color: @flamingo;
  padding: 5px 10px;
}

#wireplumber.muted {
  color: @overlay1;
}
