configuration {
    font: "JetBrainsMono Nerd Font 12";
    line-margin: 10;
    show-icons: true;

    modi: "drun,window,filebrowser";

    display-combi:       " ";
    display-drun:        " ";
    display-filebrowser: " ";
    display-run:         " ";
    display-ssh:         " ";
    display-window:      " ";
}

@theme "~/.config/rofi/kasumi-ex.rasi"

inputbar {
    font: "JetBrainsMono Nerd Font 20";
}

window {
	width: 30%;
}
